[local]
project_dir=/media/fc/doc/ideaproject_linux/rh
build_name=rh

[remote]
host_name=115.159.207.102
host_port=22
host_username=admin
host_password=ruihua123456
host_upload_dir=/home/admin/admin_fc
host_tomcat_home=/home/admin/app/apache-tomcat-8.0.36

db_type=MYSQL
db_ip=10.41.98.234
db_port=3306
dp_name=lis
db_username=lis
db_password=RuiHuaPass1!

app_http_url=http://115.159.207.102:8080/rh
