[local]
poject_home=/media/fc/soft/ideaProjects_win
git_branch=master
build_name=rh
db_back_path = ./db_bak

[remote]
host_name=115.159.207.102
host_port=22
host_username=admin
host_password=ruihua123456

db_type=MYSQL
db_ip=10.41.98.234
db_port=3306
db_name=lis
db_username=lis
db_password=RuiHuaPass1!
db_back_path = /home/admin/admin_fc/db_bak

upload_path=/home/admin/admin_fc

tomcat_home = /home/admin/app/apache-tomcat-8.0.36
