[local]
poject_home=/media/fc/soft/ideaProjects_win
git_branch=master
build_name=rh
db_back_path = ./db_bak

[remote]
host_name=139.199.148.107
host_port=19573
host_username=admin
host_password=ruihua123456

db_type=MYSQL
db_ip=10.88.111.21
db_port=3306
db_name=lis
db_username=root
db_password=ruihua123456
db_back_path = /home/admin/admin_fc/db_bak

upload_path=/home/admin/admin_fc
server_name = app

# server count
server_count = 5

app_tomcat_home = /home/admin/app/apache-tomcat-8.0.36
app_upload_path = /home/admin/admin_fc

[app0]
host_name=10.88.11.11
host_port=19573
host_username=admin
host_password=sys-p1kKz
tomcat_home=/home/admin/app/apache-tomcat-8.0.36
upload_path=/home/admin/admin_fc

[app1]
host_name=10.88.11.12
host_port=19573
host_username=admin
host_password=sys-p1kKz
tomcat_home=/home/admin/app/apache-tomcat-8.0.36
upload_path=/home/admin/admin_fc

[app2]
host_name=10.88.11.13
host_port=19573
host_username=admin
host_password=sys-p1kKz2
tomcat_home=/home/admin/app/apache-tomcat-8.0.36
upload_path=/home/admin/admin_fc

[app3]
host_name=10.88.11.14
host_port=19573
host_username=admin
host_password=sys-p1kKz3
tomcat_home=/home/admin/app/apache-tomcat-8.0.36
upload_path=/home/admin/admin_fc

[app4]
host_name=10.88.11.15
host_port=19573
host_username=admin
host_password=sys-p1kKz4
tomcat_home=/home/admin/app/apache-tomcat-8.0.36
upload_path=/home/admin/admin_fc
